/*
 * Main.css - Part of Knot's New Website
 * 
 * This is the main CSS file.
 */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
 * Making things default and variables
 */

* {
	margin: 0;
	padding: 0;
	border: none;
	text-rendering: optimizeLegibility;
	
/* 	--base-colour: #0057b3; */
	--base-colour: #00aad4;
	--base-colour-transluscent: #00aad430;
	--base-colour-red: #e2551d;
	--base-colour-red-transluscent: #e2551d30;
/* 	--base-colour-green: #34b58a; */
	--base-colour-green: #71c837;
	--base-colour-green-dark: #529127;
	--base-colour-green-transluscent: #34b58a30;
	--base-colour-text: #222;
	--base-colour-text-ontop: #fff;
	--base-colour-background: #fffc;
	--base-colour-background-border: #ccc;
	--base-colour-panel-background: #fff4;
	--base-colour-panel-background-hover: #fff;
	--base-colour-gradient-top: #0000;
	--base-colour-gradient-bottom: #0000;
	--trestle-colour: #aa5e2f;
	--dragonfruit-colour: #e8171e;
	--background-location: url("../common/bluerays.svg");
	--title-font: "Kumbh Sans", sans-serif;
	--body-font: "Kumbh Sans", sans-serif;
}

/*@media (prefers-color-scheme: dark) {
	* {
		--base-colour-text: #fff;
		--base-colour-background: #222a;
		--base-colour-gradient-top: #2f2f2f9f;
		--base-colour-gradient-bottom: #0f0f0ff0;
		--base-colour-panel-background: #2224;
		--base-colour-panel-background-hover: #333;
		--background-location: url("../common/dark.jpeg");
	}
}*/

/*
 * Misc. like selection
 */

::selection {
	color: #fff;
	background: var(--base-colour);
}

.mid-icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	padding-left: 1.5em;
	padding-right: 0.5em;
}

/*
 * Headers and other text related things
 */

h1, h2, h3, h4, h5, h6 {
	font-family: var(--title-font);
	margin-bottom: 0.5em;
}

/*h1 {
	padding-bottom: 0.25em;
	color: var(--base-colour-red);
	border-bottom: 0.1em solid var(--base-colour);
}*/

h2, h3, h4, h5, h6 {
	padding-top: 0.75em;
}

p, li, figcaption {
	font-family: var(--body-font);
	margin-bottom: 0.75em;
	line-height: 1.65;
}

h1 { font-size: 32pt; font-weight: 700; }
h2 { font-size: 26pt; font-weight: 700; /*text-transform: uppercase;*/ }
h3 { font-size: 20pt; }
h4 { font-size: 16pt; }

p, li, figcaption { font-size: 13pt; }
li { margin-left: 2em; }

a {
	color: var(--base-colour);
	text-decoration-line: none;
	text-decoration-color: var(--base-colour);
}

a:hover {
	text-decoration-line: underline;
}

/*
 * Code tag and blocks
 */

code {
	background: #8882;
	border-radius: 0.325em;
	font-family: "Inconsolata", sans-serif;
	font-size: 14pt;
	padding: 0.2em;
}

.code {
	background: #8882;
	border-radius: 0.325em;
	font-family: "Inconsolata", sans-serif;
	font-size: 12pt;
	margin: 1em;
	padding: 1em;
	white-space: pre;
}

code-string { color: #eb4c46; }
code-number { color: #f67400; }
code-keyword { color: #26acac; font-weight: bold; }

/*
 * Elements like images
 */

figcaption {
	color: #888;
}

/*
 * Sections of a page, also including their dark theme parts
 */

.page-container {
	max-width: min(60em, 90%);
	margin: auto;
}

.main-section {
	color: var(--base-colour-text);
	overflow: auto;
	margin-top: 1.5em;
	margin-bottom: 2.5em;
}

.content-section {
	backdrop-filter: blur(10px);
	background: var(--base-colour-background);
	border-radius: 0.5em;
	box-shadow: 0 6px 12px #0004;
}

.content-section-inner {
	padding: 1.75em;
}

.navigation-section {
/* 	background: var(--base-colour); */
	background-image: linear-gradient(to right, var(--base-colour), var(--base-colour-green));
	padding: 1em 1.75em;
	margin-top: 0;
	margin-bottom: 0;
}

.disclaimer-section {
	text-align: center;
	background: transparent;
	box-shadow: none;
}

.disclaimer-section p {
	margin-bottom: 0;
}

/*
 * Classes that apply to things like navigation
 */

.nav-logotype {
	display: inline-block;
	color: var(--base-colour-text-ontop);
	font-family: var(--body-font);
	font-size: 22pt;
	font-weight: 700;
	margin-right: 1em;
	vertical-align: middle;
}

.nav-link {
	display: inline-block;
	font-family: var(--body-font);
	font-size: 14pt;
	margin-right: 1em;
	vertical-align: middle;
/* 	text-transform: uppercase; */
}

.nav-link {
	color: var(--base-colour-text-ontop);
}

.nav-link a {
	color: var(--base-colour-text-ontop);
}

/**
 * Project introduction card/section
 */
.project-section {
	display: grid;
	grid-template-columns: 200px auto;
}

.project-section-figure {
	grid-column: 1;
}

.project-section-desc {
	grid-column: 2;
	margin-left: 1em;
}

.learn-more-button {
	background: var(--base-colour-green);
	border: none;
	border-radius: 0.325em;
	padding: 0.75em 1.25em;
	color: var(--base-colour-text-ontop);
	box-shadow: 0 2px 1px #0004;
	font-family: var(--body-font);
	font-size: 13pt;
/* 	text-transform: uppercase; */
	cursor: pointer;
	transition: filter 0.2s;
}

.learn-more-button:hover {
	filter: brightness(90%);
}

/*
 * The main page body
 */

body {
	background-image: linear-gradient(var(--base-colour-gradient-top), var(--base-colour-gradient-bottom)), var(--background-location);
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
}

/**
 * Simple colour text
 */

dg-blue { color: var(--base-colour) }
dg-green { color: var(--base-colour-green); }
