/*
 * Main.css - Part of Knot's New Website
 * 
 * This is the main CSS file.
 */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@300;400;700&display=swap');

/*
 * Making things default and variables
 */

* {
	margin: 0;
	padding: 0;
	border: none;
	
	--base-colour: #02b0d3;
	--base-colour-transluscent: #02b0d330;
	--base-colour-red: #e2551d;
	--base-colour-red-transluscent: #e2551d30;
	--base-colour-green: #34b58a;
	--base-colour-green-transluscent: #34b58a30;
	--base-colour-text: #000;
	--base-colour-background: #fffa;
	--base-colour-panel-background: #fff4;
	--base-colour-panel-background-hover: #fff;
	--base-colour-gradient-top: #f0f0f09f;
	--base-colour-gradient-bottom: #f2f2f2f0;
	--background-location: url("../common/light.jpeg");
}

@media (prefers-color-scheme: dark) {
	* {
		--base-colour-text: #fff;
		--base-colour-background: #222a;
		--base-colour-gradient-top: #2f2f2f9f;
		--base-colour-gradient-bottom: #0f0f0ff0;
		--base-colour-panel-background: #2224;
		--base-colour-panel-background-hover: #333;
		--background-location: url("../common/dark.jpeg");
	}
}

/*
 * Misc. like selection
 */

::selection {
	background: var(--base-colour-transluscent);
}

.mid-icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	padding-left: 1.5em;
	padding-right: 0.5em;
}

/*
 * Headers and other text related things
 */

h1, h2, h3, h4, h5, h6 {
	font-family: "Kumbh Sans", "Inter", sans-serif;
	margin-bottom: 0.5em;
}

h1 {
	padding-top: 0.25em;
	color: var(--base-colour-red);
	border-bottom: 0.125em solid var(--base-colour);
}

h2, h3, h4, h5, h6 {
	padding-top: 0.75em;
}

p, li, figcaption {
	font-family: "Inter", sans-serif;
	margin-bottom: 0.5em;
	line-height: 1.85;
}

h1 { font-size: 40pt; }
h2 { font-size: 34pt; }
h3 { font-size: 26pt; }
h4 { font-size: 20pt; }
h5 { font-size: 16pt; }
h6 { font-size: 12pt; }

p, li, figcaption { font-size: 12.5pt; }
li { margin-left: 2em; }

a {
	color: var(--base-colour);
	text-decoration-line: none;
	text-decoration-color: var(--base-colour-red);
}

a:hover {
	text-decoration-line: underline;
}

/*
 * Code tag and blocks
 */

code {
	background: #eee;
	border-radius: 0.325em;
	font-family: "Inconsolata", sans-serif;
	font-size: 12pt;
}

.code {
	background: #eee;
	border-radius: 0.325em;
	font-family: "Inconsolata", sans-serif;
	font-size: 14pt;
	margin: 0.75em;
	padding: 0.75em;
	white-space: pre;
}

/*
 * Elements like images
 */

figcaption {
	color: #888;
}

/*
 * Sections of a page, also including their dark theme parts
 */

.page-container {
	max-width: 75em;
	margin: auto;
}

.blog-page {
	max-width: 57.5em;
}

.main-section {
	border-radius: 0.25em;
	color: var(--base-colour-text);
	overflow: auto;
	padding: 1.25em;
	margin: 1.75em;
	margin-top: 0.5em;
	margin-bottom: 2.5em;
}

.content-section {
	backdrop-filter: blur(1.5em);
	background: var(--base-colour-background);
	box-shadow: 0em 0.5em 2em #00000055;
}

.navigation-section {
	background: transparent;
	border-radius: 0 0 0.25em 0.25em;
	box-shadow: none;
	padding-top: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}

.disclaimer-section {
	text-align: center;
	background: transparent;
	box-shadow: none;
}

.disclaimer-section p {
	margin-bottom: 0;
}

/* Basic Card */

.card-section {
	background: var(--base-colour-panel-background);
	border-radius: 0.25em;
	box-shadow: 0em 0.25em 0.5em #00000055;
	display: inline-block;
	padding: 2.5%;
	margin: 2.5%;
	width: 37.5%;
	height: 8em;
	vertical-align: top;
	
	transition: background 0.2s, box-shadow 0.2s;
}

.card-section:hover {
	background: var(--base-colour-panel-background-hover);
	box-shadow: 0em 0.4em 0.8em #00000044;
}

.card-section h3 {
	padding-top: 0;
	border: none;
}

/*
 * Classes that apply to things like navigation
 */

.nav-logotype {
	display: inline-block;
	color: var(--base-colour-text);
	font-family: "Kumbh Sans", sans-serif;
	font-size: 22pt;
	font-weight: 700;
	margin-right: 1em;
	vertical-align: middle;
}

.nav-link {
	display: inline-block;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 14pt;
	margin-right: 1em;
	vertical-align: middle;
}

.nav-link {
	color: var(--base-colour-text);
}

.nav-link a {
	color: var(--base-colour-text);
}

/*
 * The main page body
 */

body {
	background-image: linear-gradient(var(--base-colour-gradient-top), var(--base-colour-gradient-bottom)), var(--background-location);
	background-size: 100%;
	background-attachment: fixed;
}
