/*
 * Main.css - Part of Knot's New Website
 * 
 * This is the main CSS file.
 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Sen:wght@400;700&family=Kumbh+Sans:wght@300;400;600;700&display=swap');

/*
 * Making things default and variables
 */

* {
	margin: 0;
	padding: 0;
	border: none;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	
	--base-colour: #019ab9;
	--base-colour-transluscent: #02b0d330;
	--base-colour-red: #e2551d;
	--base-colour-red-transluscent: #e2551d30;
	--base-colour-green: #34b58a;
	--base-colour-green-transluscent: #34b58a30;
	--base-colour-text: #000;
	--base-colour-background: #fffa;
	--base-colour-panel-background: #fff4;
	--base-colour-panel-background-hover: #fff;
	--base-colour-panel-border-top: #fffa;
	--base-colour-panel-border-bottom: #ccca;
	--base-colour-gradient-top: #f0f0f070;
	--base-colour-gradient-bottom: #f2f2f2c0;
	--background-location: url("../common/light.jpeg");
	--title-font: "Kumbh Sans", "Kumbh Sans", sans-serif;
	--body-font: "Sen", "Kumbh Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
	* {
		--base-colour-text: #fff;
		--base-colour-background: #222a;
		--base-colour-gradient-top: #2f2f2f70;
		--base-colour-gradient-bottom: #0f0f0fc0;
		--base-colour-panel-background: #2224;
		--base-colour-panel-background-hover: #333;
		--base-colour-panel-border-top: #666;
		--base-colour-panel-border-bottom: #000;
		--background-location: url("../common/light.jpeg");
	}
}

/*
 * Misc. like selection
 */

::selection {
	color: #fff;
	background: var(--base-colour);
}

.mid-icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	padding-left: 1.5em;
	padding-right: 0.5em;
}

/*
 * Headers and other text related things
 */

h1, h2, h3, summary, h4, h5, h6 {
	font-family: var(--title-font);
	margin-bottom: 0.5em;
}

h1 {
	padding-bottom: 0.25em;
}

h2, h3, summary, h4, h5, h6 {
	padding-top: 0.75em;
}

p, li, figcaption {
	font-family: var(--body-font);
	margin-bottom: 0.75em;
	line-height: 1.65;
}

h1 { font-size: 36pt; font-weight: 600; }
h2 { font-size: 30pt; font-weight: 600; }
h3 { font-size: 24pt; }
h4, summary { font-size: 18pt; }

p, li, figcaption { font-size: 13pt; }
li { margin-left: 2em; }

a {
	color: var(--base-colour);
	text-decoration-line: none;
}

a:hover {
	text-decoration-line: underline;
}

/*
 * Code tag and blocks
 */

code {
	background: #8882;
	border-radius: 0.325em;
	font-family: "Fira Code", sans-serif;
	font-size: 14pt;
	padding: 0.2em;
}

pre, .code {
	background: #8882;
	border-radius: 0.325em;
	font-family: "Fira Code", sans-serif;
	font-size: 12pt;
	margin: 1em;
	padding: 1em;
	white-space: pre;
	overflow: scroll;
}

code-string { color: #eb4c46; }
code-number { color: #f67400; }
code-keyword { color: #26acac; font-weight: bold; }
code-special { color: #777; }

/*
 * Elements like images
 */

figcaption {
	color: #888;
}

/*
 * Sections of a page, also including their dark theme parts
 */

.page-container {
	max-width: 65em;
	margin: auto;
}

.blog-page {
	max-width: 57.5em;
}

.main-section {
	border-radius: 0.25em;
	color: var(--base-colour-text);
	overflow: auto;
	padding: 1.25em;
	margin: 1.75em;
	margin-top: 0.5em;
	margin-bottom: 2.5em;
}

.content-section {
/* 	backdrop-filter: blur(0.5em); */
	background: var(--base-colour-background);
	box-shadow: 0em 0.5em 2em #00000055;
}

.navigation-section {
	background: transparent;
	border-radius: 0 0 0.25em 0.25em;
	box-shadow: none;
	padding-top: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}

.disclaimer-section {
	text-align: center;
	background: transparent;
	box-shadow: none;
}

.disclaimer-section p {
	margin-bottom: 0;
}

/* Basic Card */

.card-section {
	background: var(--base-colour-panel-background);
	border-radius: 0.25em;
	box-shadow: 0em 0.25em 0.5em #00000035;
	display: inline-block;
	padding: 2.5%;
	margin: 2.5%;
	width: calc(45%);
	height: 12em;
	vertical-align: top;
	
	transition: background 0.2s, box-shadow 0.2s, transform 0.2s;
}

.card-section:hover {
	background: var(--base-colour-panel-background-hover);
	box-shadow: 0em 0.4em 0.8em #00000044;
	transform: translate(0, -3px);
}

.card-section h3 {
	border: none;
	font-weight: 700;
	padding-top: 0;
}

.full-width {
	width: 90%;
}

/*
 * Classes that apply to things like navigation
 */

.nav-logotype {
	display: inline-block;
	color: var(--base-colour-text);
	font-family: "Kumbh Sans", sans-serif;
	font-size: 22pt;
	font-weight: 700;
	margin-right: 1em;
	vertical-align: middle;
}

.nav-link {
	display: inline-block;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 14pt;
	margin-right: 1em;
	vertical-align: middle;
}

.nav-link {
	color: var(--base-colour-text);
}

.nav-link a {
	color: var(--base-colour-text);
}

/*
 * A very basic box
 */

.box-section {
	background: var(--base-colour-panel-background);
	border-radius: 0.25em;
	box-shadow: 0em 0.25em 0.5em #00000055;
	padding: 1.5%;
	margin: 1.5%;
}

.box-section p:last-of-type {
	margin: 0;
}

.box-section.notice {
	background: #e2551d20;
	box-shadow: 0em 0.16em 0.32em #00000035;
	border: 1px solid #e2551d;
}

.box-section.info {
	background: #019ab920;
	box-shadow: 0em 0.16em 0.32em #00000035;
	border: 1px solid #019ab9;
}

/*
 * The main page body
 */

body {
	background-image: linear-gradient(var(--base-colour-gradient-top), var(--base-colour-gradient-bottom)), var(--background-location);
	background-size: cover;
	background-attachment: fixed;
}

/**
 * Various interactive widgets
 */

/* Buttons */
.button {
	background: var(--base-colour);
	border-radius: 0.25em;
	color: #fff;
	cursor: pointer;
	font-family: var(--body-font);
	font-size: 13pt;
	padding: 0.4em 1.5em;
}

.button:hover {
	filter: brightness(0.8);
}

.button.secondary {
	background: transparent;
	color: var(--base-colour);
}

.button.secondary:hover {
	filter: brightness(1);
	background: var(--base-colour-transluscent);
}

/* Text boxes */
.textbox-outer {
	border: 1px solid #8888;
	border-radius: 0.25em;
	outline: none;
	overflow: hidden;
}

.textbox {
	background: transparent;
	border-bottom: 3px solid #8884;
	color: var(--base-colour-text);
	font-family: var(--body-font);
	font-size: 13pt;
	padding: 0.4em 0.7em;
	width: 100%;
}

.textbox:focus {
	border-bottom: 3px solid var(--base-colour);
}

.textbox-width-restrict {
	width: 30em;
}

.me-container {
	display: grid;
	grid-template-columns: 192px auto;
	margin: 1em;
}

.me-left {
	grid-column: 1;
}

.me-right {
	grid-column: 2;
	margin-left: 1em;
}

.me-img {
	width: 192px;
	height: 192px;
	border-radius: calc(192px / 2);
}

.me-name {
	font-size: 36pt;
	font-weight: bold;
	margin: 0;
}

.me-pronoun {
	opacity: 0.7;
}

.me-quote {
	font-size: 16pt;
	cursor: pointer;
}

.me-subtle-link {
	text-decoration-line: underline;
	color: var(--base-colour-text);
}

.dialogue-background {
	background: #0006;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(8px);
}

.dialogue-box {
	background: var(--base-colour-panel-background-hover);
	margin: 0;
	width: 50vw;
	height: 50vh;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

.blog-editor-code {
	width: 100%;
	height: calc(100vh - 250px);
	overflow: default;
	font-size: 12pt;
	resize: none;
	outline: none;
	background: #8882;
	border-radius: 0.325em;
	color: var(--base-colour-text);
	padding: 0.5em;
}
